<div class="detailHeader">
    <img src="{{camera.imgThumb}}" class=" col-xs-3 col-sm-1">
    <div class="col-xs-9 col-sm-11 ">
        <a ui-sref="store"><span class="glyphicon glyphicon-chevron-left"></span>{{camera.type}} Cameras</a>
        <h4>{{camera.name}}</h4>
    </div>
</div>
<div class="detailCover text-center">
    <img src="{{camera.imgTitle}}">
    <p>START YOUR PHOTOGRAPHIC JOURNEY WITH <br> {{camera.name|uppercase}}</p>
</div>

<div class="detailGallary ">
    <div>
    </div>
</div>
<!--<a href="{{camera.linkDetail}}" class="btn btn-primary">More Information-->